.product-info img {
    max-width: 100px;
    float: left;
    margin: 0 2px;
    border: solid 1px black;
}

.product-info .product-name {
    font-size: larger;
    font-weight: bold;
}

div.product-info {
    font-size: 15px;
}
